body{
  background-color: #D3C7B3;
}
ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  height: 10px;
}
h1{
  font-family: 'Indie Flower', cursive;
  font-size: 70px;
}
h2{
  border: solid 5px #352c26;
  padding: 20px;
  width: 450px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
header{
  background-image: url('../img/Profil.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  margin-left: 5em;
}
h3{
  font-family: 'Indie Flower', cursive;
}
#Apropos{
  text-align: center;
  margin: 0 20em 0 20em;
  height: 250px;
}
.block{
  border: dotted 5px #352c26;
  margin: 1em 5em ;
  padding: 2em;
}
#Cequejefais{
  text-align: center;
}
footer{
  border: dotted 5px #352c26;
  margin: 1em 25em ;
  padding: 2em;
  padding-top: 0.1em;
  padding-bottom: 0.5em;
  text-align: center;
}
img{
  height: 250px;
  display: flex;
  margin: auto;
}
