body{
  background-color: #D3C7B3;
}
ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  height: 10px;
}
h1{
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}
h2{
  border: solid 5px #352c26;
  padding: 20px;
  margin: 20px 10px;
}
header{
  background-image: url('../img/Profil.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;

}
